<%= form_with(model: payment) do |form| %>
  <% if payment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
        <% payment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, style: "display: block", class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :amount, class: "form-label" %><em> (Amount in dollars)</em>
    <%= form.text_field :amount, class: "form-control" %>
  </div>

  <p>Select transaction categories:</p>
  <div class="field group">
    <%= form.label :category_ids, 'Categories' %>
    <%= form.collection_check_boxes :category_ids, @categories, :id, :name, class: "block shadow rounded-md" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
